* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


/* HEADER */
header {
  height: 855px;
  background-color: red;
}

/* MAIN */
main {
  height: 500px;
  background-color: orange;
}

/* FOOTER */
footer {
  height: 300px;
  background-color: lightblue;
}
